/* das ist ein "bugfix" für das überlesen der ersten codezeile der Schulrechener, nicht löschen */
h1 {}
h1{
    text-align: center;
    color: aquamarine;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-feature-settings: "aalt";
}
